[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "third_party/tableau"]
	path = third_party/tableau
	url = https://github.com/tableauio/tableau
